.onlyVisibleFilter {
    width: 30%;
    float: left;
}

.onlyVisibleFilter input {
    margin-right: 4px;
}

/* Fix for search box going beyond its parent div */
#resourcesPanelTable_filter input[type=search] {
    width: 70%;
}
